<div id="menu" class="fixed ml-5 border-l p-5 hidden transition">
    <ul class="space-y-10">
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#team" class="hover:font-bold">Team</a>
        </li>
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#dataset" class="hover:font-bold">Dataset</a>
        </li>
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#eda" class="hover:font-bold">EDA</a>
        </li>
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#migration" class="hover:font-bold">Migration</a>
        </li>
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#model" class="hover:font-bold">Model</a>
        </li>
        <li
            class="hover:scale-150 origin-left transform transition-transform ease-in-out duration-100"
        >
            <a href="#dashboard" class="hover:font-bold">Dashboard</a>
        </li>
    </ul>
</div>
