---
import { ModeToggle } from "@/components/ownui/ModeToggle";
---

<navbar
    class="container max-w-5xl px-1 py-10 flex items-center justify-between"
>
    <a class="text-2xl font-bold" href="/data-mining"
        >Data Mining Course Project</a
    >
    <nav class="flex items-center gap-6">
        <a href="#team" class="hover:underline">Team</a>
        <a href="#dataset" class="hover:underline">Dataset</a>
        <a href="#eda" class="hover:underline">EDA</a>
        <a href="#migration" class="hover:underline">Migration</a>
        <a href="#model" class="hover:underline">Model</a>
        <a href="#dashboard" class="hover:underline">Dashboard</a>
        <ModeToggle client:load />
    </nav>
</navbar>
