---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/sections/Navbar.astro";
import "@/styles/globals.css";
---

<Layout title="Data Mining">
    <main>
        <Navbar />
        <div class="container max-w-4xl border border-black dark:border-white">
        </div>
    </main>
</Layout>
