---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer.astro";
import "@/styles/globals.css";
---

<Layout title="Data Mining Course Project">
    <Navbar />
    <div class="container max-w-5xl border-b border-black dark:border-white">
    </div>
    <main class="flex-1"></main>
    <div class="container max-w-5xl border-b border-black dark:border-white">
    </div>
    <Footer />
</Layout>
