---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/Navbar.astro";
import "@/styles/globals.css";
---

<Layout title="Data Mining">
    <main>
        <Navbar />
    </main>
</Layout>
