---
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/sections/Navbar.astro";
import Footer from "@/components/sections/Footer.astro";
import Header from "@/components/sections/Header.astro";
import Menu from "@/components/sections/Menu.astro";
// Sections
import Team from "@/components/sections/Team/Team.astro";
import Dataset from "@/components/sections/Dataset/Dataset.astro";
import EDA from "@/components/sections/EDA/EDA.astro";
import "@/styles/globals.css";
import Migration from "@/components/sections/Migration/Migration.astro";
import Model from "@/components/sections/Model/Model.astro";
---

<Layout title="Data Mining Course Project">
    <Navbar />
    <div class="container max-w-5xl border-b border-black dark:border-white">
    </div>
    <main class="flex-1">
        <Menu />
        <Header />
        <div
            class="container max-w-5xl border-b border-black dark:border-white"
        >
        </div>
        <Team />
        <div
            class="container max-w-5xl border-b border-black dark:border-white"
        >
        </div>
        <Dataset />
        <div
            class="container max-w-5xl border-b border-black dark:border-white"
        >
        </div>
        <EDA />
        <div
            class="container max-w-5xl border-b border-black dark:border-white"
        >
        </div>
        <Migration />
        <div
            class="container max-w-5xl border-b border-black dark:border-white"
        >
        </div>
        <Model />
    </main>
    <div class="container max-w-5xl border-b border-black dark:border-white">
    </div>
    <Footer />
</Layout>

<script is:inline>
    // All this code if for the menu
    let shouldShow = false;
    const header = document.querySelector("header");
    const menu = document.querySelector("#menu");

    function isOnScreen(element) {
        var rect = element.getBoundingClientRect();
        var screenHeight = window.innerHeight;
        return rect.top < screenHeight && rect.bottom > 0;
    }

    function displayMenu() {
        shouldShow = !isOnScreen(header);
        if (shouldShow) {
            menu.classList.remove("hidden");
            setTimeout(() => {
                menu.classList.remove("opacity-0");
                menu.classList.add("opacity-100");
            }, 100);
        } else {
            menu.classList.remove("opacity-100");
            menu.classList.add("opacity-0");
            setTimeout(() => {
                menu.classList.add("hidden");
            }, 100);
        }
    }

    window.addEventListener("scroll", displayMenu);
</script>
