---
import { Calendar } from "lucide-react";
import {
    Table,
    TableBody,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table";
---

<section id="dataset" class="container max-w-5xl px-1 mt-14 mb-5">
    <a href="#dataset"
        ><div class="flex items-center gap-3 group cursor-pointer">
            <h2 class="font-bold text-4xl">Dataset</h2><span
                class="font-bold text-4xl hidden group-hover:block text-gray-400"
                >#</span
            >
        </div></a
    >
    <div class="flex gap-2 mt-1 text-gray-500">
        <Calendar />
        <p class="italic">Aug 16, 2024</p>
    </div>

    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Description</h3>
        <p class="mt-5">
            This dataset, sourced from Kaggle, has been obtained from the
            National Health Insurance Service in Korea, with all personal and
            sensitive information removed. The dataset aims to facilitate the
            classification of individuals as smokers or drinkers. Here's a small
            sample:
        </p>
        <!-- DATA TABLE -->
        <Table className="mt-5">
            <TableHeader>
                <TableRow>
                    <TableHead className="w-[50px]">Index</TableHead>
                    <TableHead>Sex</TableHead>
                    <TableHead>Age</TableHead>
                    <TableHead>Height</TableHead>
                    <TableHead>Weight</TableHead>
                    <TableHead>Waistline</TableHead>
                    <TableHead>Sight Left</TableHead>
                    <TableHead>Sight Right</TableHead>
                    <TableHead>Hear Left</TableHead>
                    <TableHead>Hear Right</TableHead>
                    <TableHead>SBP</TableHead>
                    <TableHead>DBP</TableHead>
                    <TableHead>BLDS</TableHead>
                    <TableHead>Total Cholesterol</TableHead>
                    <TableHead>HDL Cholesterol</TableHead>
                    <TableHead>LDL Cholesterol</TableHead>
                    <TableHead>Triglyceride</TableHead>
                    <TableHead>Hemoglobin</TableHead>
                    <TableHead>Urine Protein</TableHead>
                    <TableHead>Serum Creatinine</TableHead>
                    <TableHead>SGOT AST</TableHead>
                    <TableHead>SGOT ALT</TableHead>
                    <TableHead>Gamma GTP</TableHead>
                    <TableHead>Smoking Status</TableHead>
                    <TableHead>Drinking Status</TableHead>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableCell className="font-medium">0</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>35</TableCell>
                    <TableCell>170</TableCell>
                    <TableCell>75</TableCell>
                    <TableCell>90.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>120.0</TableCell>
                    <TableCell>80.0</TableCell>
                    <TableCell>99.0</TableCell>
                    <TableCell>193.0</TableCell>
                    <TableCell>48.0</TableCell>
                    <TableCell>126.0</TableCell>
                    <TableCell>92.0</TableCell>
                    <TableCell>17.1</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>21.0</TableCell>
                    <TableCell>35.0</TableCell>
                    <TableCell>40.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>Y</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">1</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>30</TableCell>
                    <TableCell>180</TableCell>
                    <TableCell>80</TableCell>
                    <TableCell>89.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>130.0</TableCell>
                    <TableCell>82.0</TableCell>
                    <TableCell>106.0</TableCell>
                    <TableCell>228.0</TableCell>
                    <TableCell>55.0</TableCell>
                    <TableCell>148.0</TableCell>
                    <TableCell>121.0</TableCell>
                    <TableCell>15.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>20.0</TableCell>
                    <TableCell>36.0</TableCell>
                    <TableCell>27.0</TableCell>
                    <TableCell>3.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">2</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>40</TableCell>
                    <TableCell>165</TableCell>
                    <TableCell>75</TableCell>
                    <TableCell>91.0</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.5</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>120.0</TableCell>
                    <TableCell>70.0</TableCell>
                    <TableCell>98.0</TableCell>
                    <TableCell>136.0</TableCell>
                    <TableCell>41.0</TableCell>
                    <TableCell>74.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>15.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>47.0</TableCell>
                    <TableCell>32.0</TableCell>
                    <TableCell>68.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">3</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>50</TableCell>
                    <TableCell>175</TableCell>
                    <TableCell>80</TableCell>
                    <TableCell>91.0</TableCell>
                    <TableCell>1.5</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>145.0</TableCell>
                    <TableCell>87.0</TableCell>
                    <TableCell>95.0</TableCell>
                    <TableCell>201.0</TableCell>
                    <TableCell>76.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>106.0</TableCell>
                    <TableCell>17.6</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.1</TableCell>
                    <TableCell>29.0</TableCell>
                    <TableCell>34.0</TableCell>
                    <TableCell>18.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">4</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>50</TableCell>
                    <TableCell>165</TableCell>
                    <TableCell>60</TableCell>
                    <TableCell>80.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>138.0</TableCell>
                    <TableCell>82.0</TableCell>
                    <TableCell>101.0</TableCell>
                    <TableCell>199.0</TableCell>
                    <TableCell>61.0</TableCell>
                    <TableCell>117.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>13.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.8</TableCell>
                    <TableCell>19.0</TableCell>
                    <TableCell>12.0</TableCell>
                    <TableCell>25.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
            </TableBody>
        </Table>

        <p class="mt-5">
            This dataset has been sourced from Kaggle. For detailed information
            about the measures used in each column, please refer to the <a
                href="https://www.kaggle.com/datasets/sooyoungher/smoking-drinking-dataset"
                class="underline font-bold"
                target="_blank">source</a
            >.
        </p>

        <h4 class="font-bold text-xl mt-5">Description of variables</h4>
        <Table className="mt-5">
            <TableHeader>
                <TableRow>
                    <TableHead className="w-[50px]">Index</TableHead>
                    <TableHead>Variable</TableHead>
                    <TableHead>Description</TableHead>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableCell className="font-medium">1</TableCell>
                    <TableCell>Sex</TableCell>
                    <TableCell>Indicates the individual's gender, which can be male or female.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">2</TableCell>
                    <TableCell>Age</TableCell>
                    <TableCell>The individual's age, rounded to the nearest 5 years.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">3</TableCell>
                    <TableCell>Height</TableCell>
                    <TableCell>The individual's height, rounded to the nearest 5 cm.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">4</TableCell>
                    <TableCell>Weight</TableCell>
                    <TableCell>The individual's weight, measured in kilograms.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">5</TableCell>
                    <TableCell>Sight_left</TableCell>
                    <TableCell>Visual acuity of the left eye, assessed as normal or abnormal.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">6</TableCell>
                    <TableCell>Sight_right</TableCell>
                    <TableCell>Visual acuity of the right eye, assessed as normal or abnormal.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">7</TableCell>
                    <TableCell>Hear_left</TableCell>
                    <TableCell>Hearing status of the left ear, classified as normal (1) or abnormal (2).</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">8</TableCell>
                    <TableCell>Hear_right</TableCell>
                    <TableCell>Hearing status of the right ear, classified as normal (1) or abnormal (2).</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">9</TableCell>
                    <TableCell>SBP (Systolic Blood Pressure)</TableCell>
                    <TableCell>The systolic blood pressure measurement, in mmHg.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">10</TableCell>
                    <TableCell>DBP (Diastolic Blood Pressure)</TableCell>
                    <TableCell>The diastolic blood pressure measurement, in mmHg.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">11</TableCell>
                    <TableCell>BLDS (Fasting Blood Glucose)</TableCell>
                    <TableCell>Blood glucose level after fasting, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">12</TableCell>
                    <TableCell>Tot_chole (Total Cholesterol)</TableCell>
                    <TableCell>Total cholesterol level in the blood, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">13</TableCell>
                    <TableCell>HDL_chole (HDL Cholesterol)</TableCell>
                    <TableCell>High-density lipoprotein cholesterol level in the blood, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">14</TableCell>
                    <TableCell>LDL_chole (LDL Cholesterol)</TableCell>
                    <TableCell>Low-density lipoprotein cholesterol level in the blood, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">15</TableCell>
                    <TableCell>Triglyceride</TableCell>
                    <TableCell>Triglyceride level in the blood, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">16</TableCell>
                    <TableCell>Hemoglobin</TableCell>
                    <TableCell>Hemoglobin concentration in the blood, measured in g/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">17</TableCell>
                    <TableCell>Urine_protein</TableCell>
                    <TableCell>Protein level in urine, classified from absence (-) to significant presence (+4).</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">18</TableCell>
                    <TableCell>Serum_creatinine</TableCell>
                    <TableCell>Serum creatinine level, measured in mg/dL.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">19</TableCell>
                    <TableCell>SGOT_AST (SGOT/AST)</TableCell>
                    <TableCell>Serum level of aspartate aminotransferase (SGOT/AST), measured in IU/L.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">20</TableCell>
                    <TableCell>SGOT_ALT (SGOT/ALT)</TableCell>
                    <TableCell>Serum level of alanine aminotransferase (SGOT/ALT), measured in IU/L.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">21</TableCell>
                    <TableCell>Gamma_GTP</TableCell>
                    <TableCell>Serum level of gamma-glutamyl transpeptidase (Gamma-GTP), measured in IU/L.</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">22</TableCell>
                    <TableCell>SMK_stat_type_cd (Smoking Status)</TableCell>
                    <TableCell>Classification of smoking status, which can be never smoked (1), used to smoke but quit (2), or currently smoking (3).</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">23</TableCell>
                    <TableCell>DRK_YN (Drinker or Not)</TableCell>
                    <TableCell>Indicates whether the individual consumes alcohol or not.</TableCell>
                </TableRow>
            </TableBody>
        </Table>
    </div>

    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Justification</h3>
        <p class="mt-5">
            When patients are diagnosed with a respiratory problem or another
            health condition, they often show reluctance to reveal information
            about their smoking or drinking habits, and how frequently they
            engage in these activities. This lack of information may be due to
            various reasons, such as fear of being judged or appearing
            irresponsible about their health. As a result, doctors may face
            difficulties in providing appropriate treatment. To address this
            issue, it is crucial to obtain accurate information about the
            patient's smoking and drinking status without relying solely on
            their self-reports. Therefore, based on research, it has been shown
            that this information can be predicted from various measurable
            bodily signals, such as blood pressure, cholesterol, urine proteins,
            and certain enzymes. Thus, the main objective of this project is to
            train a machine learning model to predict the patients' status,
            providing a response that allows for verifying whether they consume
            alcohol and if they smoke frequently.
        </p>

        <h4 class="font-bold text-xl mt-2 ml-5">Goals</h4>
        <ol class="list-decimal list-inside pl-5 space-y-2 mt-2 ml-5">
            <li>
                Perform an exploratory analysis with the data that will be used
                on a machine learning model.
            </li>
            <li>
                Using that model, predict whether a person consumes alcohol or
                smokes.
            </li>
        </ol>
    </div>
    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Relevance</h3>
        <p class="mt-5">
            The primary goal of this project is to analyze body signals and
            classify individuals based on their smoking and drinking habits. The
            dataset aligns perfectly with these objectives by providing key
            health metrics (e.g., blood pressure, cholesterol levels, and liver
            enzymes) alongside smoking and drinking status. These variables are
            essential for identifying potential health risks associated with
            these habits, enabling the development of predictive models and
            classifications.
        </p>

        <h4 class="font-bold text-xl mt-2 ml-5">Case studies</h4>
        <h5 class="font-bold text-lg mt-2 ml-10">
            Classifying smoking urges via machine learning
        </h5>
        <p class="mt-2 ml-10">
            This study explores the use of machine learning methods to predict
            high-urge states during a smoking cessation attempt. Three
            classification approaches (Bayes, discriminant analysis, and
            decision trees) were evaluated using data from over 300
            participants. The results indicated that decision trees, based on
            feature selection, achieved the highest accuracy, with 86%
            classification precision. This highlights the potential of machine
            learning to enhance smoking cessation interventions through mobile
            technologies, optimizing healthcare resources and providing
            personalized real-time support.
        </p>
        <p class="reference mt-2 ml-10 italic underline">
            <a href="https://pubmed.ncbi.nlm.nih.gov/28110725/" target="_blank"
                >Dumortier, A., Beckjord, E., Shiffman, S., & Sejdić, E. (2016).
                Classifying smoking urges via machine learning. Computer methods
                and programs in biomedicine, 137, 203-213.</a
            >
        </p>
        <h5 class="font-bold text-lg mt-4 ml-10">
            Analizing influence of smoking and alcohol drinking behaviors on
            body type with deep learning, machine learning and data mining
            techniques
        </h5>
        <p class="mt-2 ml-10">
            This study examines the use of deep learning, machine learning, and
            data mining approaches to analyze the body types and consumption
            patterns of alcohol and smoking among various individuals. Despite
            numerous studies in the literature highlighting the risks and
            dangers of smoking and excessive, long-term alcohol use, there are
            also studies that emphasize and cite the benefits of limited and
            moderate alcohol consumption. The analysis aims to provide insights
            to leaders and society in general by investigating behaviors that
            have been present for centuries across different individuals,
            groups, and societies.
        </p>
        <p class="reference mt-2 ml-10 italic underline">
            <a
                href="https://pejoss.com/index.php/pub/article/download/205/202"
                target="_blank"
                >YAVUZ, Ö. (2022). ANALYZING INFLUENCE OF SMOKING AND ALCOHOL
                DRINKING BEHAVIORS ON BODY TYPE WITH DEEP LEARNING, MACHINE
                LEARNING AND DATA MINING TECHNIQUES. Premium e-Journal of Social
                Sciences (PEJOSS), 6(19), 46-58.</a
            >
        </p>
    </div>

    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Hypotheses Based on Health Metrics for Predicting Smoking and Drinking Behaviors</h3>

        <div class="ml-5">
            <h4 class="text-xl font-bold mt-4">Cholesterol (HDL, LDL, and Triglycerides):</h4>
            <p class="mt-2">
                <strong>Smoking:</strong> Smoking affects lipid profiles, with variations observed between adults and adolescents. In adult smokers, studies show higher levels of total cholesterol, LDL, VLDL, and triglycerides, and lower levels of HDL and apolipoprotein A. Adolescent smokers, however, often have lower levels of total cholesterol and HDL compared to non-smokers. Gender differences are also noted, with male smokers exhibiting a higher LDL/HDL ratio and a more pronounced reduction in HDL, potentially due to hormonal changes during puberty.
            </p>
            <p class="mt-2">
                <strong>Drinking:</strong> Alcohol consumption has mixed effects on cholesterol and triglycerides. Moderate alcohol intake tends to increase HDL ("good" cholesterol), which benefits heart health. However, excessive alcohol consumption can raise LDL ("bad" cholesterol) levels, contributing to plaque buildup in arteries and increasing cardiovascular disease risk. Excessive drinking is also linked to elevated triglyceride levels, exacerbating cardiovascular risks.
            </p>

            <h4 class="text-xl font-bold mt-4">Blood Pressure (SBP and DBP):</h4>
            <p class="mt-2">
                <strong>Smoking:</strong> Nicotine in cigarettes can elevate both systolic and diastolic blood pressure due to its vasoconstrictive effects, causing the heart to pump harder.
            </p>
            <p class="mt-2">
                <strong>Drinking:</strong> Alcohol consumption is associated with increased systolic and diastolic blood pressure. This effect is more pronounced in individuals over 40 years old, while the relationship is less clear in younger individuals. Some older non-drinkers may have slightly higher blood pressure compared to moderate drinkers, possibly due to factors like obesity. Generally, reducing alcohol intake can help prevent hypertension.
            </p>

            <h4 class="text-xl font-bold mt-4">Blood Glucose (BLDS):</h4>
            <p class="mt-2">
                <strong>Smoking:</strong> Smokers may have higher fasting blood glucose levels due to smoking's impact on insulin sensitivity, increasing the risk of type 2 diabetes.
            </p>
            <p class="mt-2">
                <strong>Drinking:</strong> Chronic alcohol consumption can disrupt glucose regulation, potentially increasing or decreasing blood glucose levels depending on liver function.
            </p>

            <h4 class="text-xl font-bold mt-4">Liver Enzymes (SGOT/AST, SGPT/ALT, Gamma-GTP):</h4>
            <p class="mt-2">
                <strong>Drinking:</strong> Excessive alcohol consumption is linked to elevated levels of liver enzymes such as Gamma-GTP, AST, and ALT, indicating liver damage or fatty liver, which are common in chronic drinkers.
            </p>

            <h4 class="text-xl font-bold mt-4">Serum Creatinine:</h4>
            <p class="mt-2">
                <strong>Drinking:</strong> Alcohol can affect kidney function, which may be reflected in abnormal serum creatinine levels, especially with prolonged excessive drinking.
            </p>

            <h4 class="text-xl font-bold mt-4">Improving Patient Care through Predictive Modeling:</h4>
            <p class="mt-2">
                To enhance patient diagnosis and treatment, it is crucial to use objective and precise data to predict behaviors such as smoking and drinking. By developing a model that predicts these behaviors based on health metrics like sex, age, height, weight, blood pressure, and cholesterol levels, healthcare providers can offer more personalized interventions. An effective model could identify individuals at risk of smoking or drinking based on their health characteristics, enabling tailored treatment plans. Additionally, the model could facilitate early intervention strategies by identifying risk patterns before they become serious, promoting more effective prevention and better health management.
            </p>
        </div>

        <h4 class="text-xl font-bold mt-4">References</h4>
        <div class="ml-5">
            <ul class="list-disc list-inside mt-2 italic">
                <li>
                    Bondía, J. P., Abaitua, F. R., López, R. E., Martínez, J. I., Mazón, H. F., Izurzu, Y. A., & Elízaga, I. V. (1997). Distribución de las variables lipídicas en adolescentes fumadores. <i>An Esp Pediatr</i>, 46, 245-251.
                </li>
                <li>
                    Nasiff-Hadad, A., Gira, P., & Bruckert, E. (1997). Efectos del alcohol sobre las lipoproteínas. <i>Revista Cubana de Medicina</i>, 36(1), 51-60.
                </li>
                <li>
                    Hernádez, J. P., Zanón, E. B., Rodríguez, F. S., Fácila, L., Gil, R. R., Díaz, P., & Mercé, S. Índice de Rigidez Arterial (SIDVP) y Velocidad de Onda de Pulso (baPWV) como estimadores de la Presión Arterial.
                </li>
                <li>
                    Milon, H., Froment, A., Gaspard, P., Guidollet, J., & Ripoll, J. P. (1982). Alcohol consumption and blood pressure in a French epidemiological study. <i>European heart journal</i>, 3(suppl_C), 59-64.
                </li>
                <li>
                    Valenzuela Magdaleno, A. Monitoreo continuo y automonitoreo de glucosa como seguimiento glucémico y autocuidado de pacientes con diabetes mellitus tipo 2.
                </li>
            </ul></div>
    </div>
</section>
