---
import { Calendar } from "lucide-react";
import {
    Table,
    TableBody,
    TableCaption,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table";
---

<section id="dataset" class="container max-w-5xl px-1 mt-14 mb-5">
    <a href="#dataset"
        ><div class="flex items-center gap-3 group cursor-pointer">
            <h2 class="font-bold text-4xl">Dataset</h2><span
                class="font-bold text-4xl hidden group-hover:block text-gray-400"
                >#</span
            >
        </div></a
    >
    <div class="flex gap-2 mt-1 text-gray-500">
        <Calendar />
        <p class="italic">Aug 16, 2024</p>
    </div>

    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Description</h3>
        <p class="mt-5">
            This dataset, sourced from Kaggle, has been obtained from the
            National Health Insurance Service in Korea, with all personal and
            sensitive information removed. The dataset aims to facilitate the
            classification of individuals as smokers or drinkers. Here's a small
            sample:
        </p>
        <!-- DATA TABLE -->
        <Table className="mt-5">
            <TableHeader>
                <TableRow>
                    <TableHead className="w-[50px]">Index</TableHead>
                    <TableHead>Sex</TableHead>
                    <TableHead>Age</TableHead>
                    <TableHead>Height</TableHead>
                    <TableHead>Weight</TableHead>
                    <TableHead>Waistline</TableHead>
                    <TableHead>Sight Left</TableHead>
                    <TableHead>Sight Right</TableHead>
                    <TableHead>Hear Left</TableHead>
                    <TableHead>Hear Right</TableHead>
                    <TableHead>SBP</TableHead>
                    <TableHead>DBP</TableHead>
                    <TableHead>BLDS</TableHead>
                    <TableHead>Total Cholesterol</TableHead>
                    <TableHead>HDL Cholesterol</TableHead>
                    <TableHead>LDL Cholesterol</TableHead>
                    <TableHead>Triglyceride</TableHead>
                    <TableHead>Hemoglobin</TableHead>
                    <TableHead>Urine Protein</TableHead>
                    <TableHead>Serum Creatinine</TableHead>
                    <TableHead>SGOT AST</TableHead>
                    <TableHead>SGOT ALT</TableHead>
                    <TableHead>Gamma GTP</TableHead>
                    <TableHead>Smoking Status</TableHead>
                    <TableHead>Drinking Status</TableHead>
                </TableRow>
            </TableHeader>
            <TableBody>
                <TableRow>
                    <TableCell className="font-medium">0</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>35</TableCell>
                    <TableCell>170</TableCell>
                    <TableCell>75</TableCell>
                    <TableCell>90.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>120.0</TableCell>
                    <TableCell>80.0</TableCell>
                    <TableCell>99.0</TableCell>
                    <TableCell>193.0</TableCell>
                    <TableCell>48.0</TableCell>
                    <TableCell>126.0</TableCell>
                    <TableCell>92.0</TableCell>
                    <TableCell>17.1</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>21.0</TableCell>
                    <TableCell>35.0</TableCell>
                    <TableCell>40.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>Y</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">1</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>30</TableCell>
                    <TableCell>180</TableCell>
                    <TableCell>80</TableCell>
                    <TableCell>89.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>130.0</TableCell>
                    <TableCell>82.0</TableCell>
                    <TableCell>106.0</TableCell>
                    <TableCell>228.0</TableCell>
                    <TableCell>55.0</TableCell>
                    <TableCell>148.0</TableCell>
                    <TableCell>121.0</TableCell>
                    <TableCell>15.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>20.0</TableCell>
                    <TableCell>36.0</TableCell>
                    <TableCell>27.0</TableCell>
                    <TableCell>3.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">2</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>40</TableCell>
                    <TableCell>165</TableCell>
                    <TableCell>75</TableCell>
                    <TableCell>91.0</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.5</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>120.0</TableCell>
                    <TableCell>70.0</TableCell>
                    <TableCell>98.0</TableCell>
                    <TableCell>136.0</TableCell>
                    <TableCell>41.0</TableCell>
                    <TableCell>74.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>15.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.9</TableCell>
                    <TableCell>47.0</TableCell>
                    <TableCell>32.0</TableCell>
                    <TableCell>68.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">3</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>50</TableCell>
                    <TableCell>175</TableCell>
                    <TableCell>80</TableCell>
                    <TableCell>91.0</TableCell>
                    <TableCell>1.5</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>145.0</TableCell>
                    <TableCell>87.0</TableCell>
                    <TableCell>95.0</TableCell>
                    <TableCell>201.0</TableCell>
                    <TableCell>76.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>106.0</TableCell>
                    <TableCell>17.6</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.1</TableCell>
                    <TableCell>29.0</TableCell>
                    <TableCell>34.0</TableCell>
                    <TableCell>18.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
                <TableRow>
                    <TableCell className="font-medium">4</TableCell>
                    <TableCell>Male</TableCell>
                    <TableCell>50</TableCell>
                    <TableCell>165</TableCell>
                    <TableCell>60</TableCell>
                    <TableCell>80.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.2</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>138.0</TableCell>
                    <TableCell>82.0</TableCell>
                    <TableCell>101.0</TableCell>
                    <TableCell>199.0</TableCell>
                    <TableCell>61.0</TableCell>
                    <TableCell>117.0</TableCell>
                    <TableCell>104.0</TableCell>
                    <TableCell>13.8</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>0.8</TableCell>
                    <TableCell>19.0</TableCell>
                    <TableCell>12.0</TableCell>
                    <TableCell>25.0</TableCell>
                    <TableCell>1.0</TableCell>
                    <TableCell>N</TableCell>
                </TableRow>
            </TableBody>
        </Table>

        <p class="mt-5">
            This dataset has been sourced from Kaggle. For more information
            about the measures used in each column, please refer to the <a
                href="https://www.kaggle.com/datasets/sooyoungher/smoking-drinking-dataset"
                class="underline font-bold">source</a
            >.
        </p>
    </div>

    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Justification</h3>
        <p class="mt-5">
            When patients are diagnosed with a respiratory problem or another
            health condition, they often show reluctance to reveal information
            about their smoking or drinking habits, and how frequently they
            engage in these activities. This lack of information may be due to
            various reasons, such as fear of being judged or appearing
            irresponsible about their health. As a result, doctors may face
            difficulties in providing appropriate treatment. To address this
            issue, it is crucial to obtain accurate information about the
            patient's smoking and drinking status without relying solely on
            their self-reports. Therefore, based on research, it has been shown
            that this information can be predicted from various measurable
            bodily signals, such as blood pressure, cholesterol, urine proteins,
            and certain enzymes. Thus, the main objective of this project is to
            train a machine learning model to predict the patients' status,
            providing a response that allows for verifying whether they consume
            alcohol and if they smoke frequently.
        </p>

        <h4 class="font-bold text-xl mt-2">Goals</h4>
        <ol class="list-decimal list-inside pl-5 space-y-2 mt-2">
            <li>
                Perform an exploratory analysis with the data that will be used
                to predict the model.
            </li>
            <li>
                Train machine learning models to predict whether a person
                consumes alcohol or smokes.
            </li>
        </ol>
    </div>
    <div class="mt-8 mb-3">
        <h3 class="font-bold text-2xl">Relevance</h3>
        <p class="italic">Pending...</p>
    </div>
</section>
