---
import { TeamMember } from "./Member";
---

<section id="team" class="container max-w-5xl px-1 mt-14 mb-5">
    <a href="#team"
        ><div class="flex items-center gap-3 group cursor-pointer">
            <h2 class="font-bold text-4xl">Team</h2><span
                class="font-bold text-4xl hidden group-hover:block text-gray-400"
                >#</span
            >
        </div></a
    >
    <div class="w-full mt-6">
        <TeamMember
            src="/data-mining/imgs/team/luna_julio.jpeg"
            name="Luna Julio"
            github="https://github.com/lunajulio"
            client:load
        />
        <TeamMember
            src="/data-mining/imgs/team/joseph_venegas.jpeg"
            name="Joseph Venegas"
            github="https://github.com/jfvenegas"
            className="flex-row-reverse"
            client:load
        />
        <TeamMember
            src="/data-mining/imgs/team/jose_gomez.jpeg"
            name="Jose Gomez"
            github="https://github.com/JGD2108"
            client:load
        />
        <TeamMember
            src="/data-mining/imgs/team/edgar_torres.jpeg"
            name="Edgar Torres"
            github="https://github.com/Torrex123"
            className="flex-row-reverse"
            client:load
        />
        <TeamMember
            src="/data-mining/imgs/team/giuseppe_gomez.jpg"
            name="Giuseppe Gomez"
            github="https://github.com/giusgo"
            client:load
        />
    </div>
</section>
